extends layout
block content
    // start: Header
    .container-fluid-full(ng-app="accounting",ng-controller="getList")
        .row-fluid
            // start: Main Menu
            #sidebar-left.span2
                .nav-collapse.sidebar-nav
                    ul.nav.nav-tabs.nav-stacked.main-menu
                        li
                            a(href='/manager')
                                i.icon-dashboard
                                span.hidden-tablet  Dashboard
                        li
                            a(href='/manager/user')
                                i.icon-edit
                                span.hidden-tablet  Quản lí người dùng
                        li
                            a(href='/manager/menu')
                                i.icon-tasks
                                span.hidden-tablet  Quản lí thực đơn
                        li
                            a(href='/manager/track')
                                i.icon-eye-open
                                span.hidden-tablet  Theo dõi người dùng
                        li
                            a(href='/manager/statistic')
                                i.icon-bar-chart
                                span.hidden-tablet  Thống kê đến ăn
                        li
                            a(href='/manager/calculate')
                                i.icon-shopping-cart
                                span.hidden-tablet  Tính phí
                        li
                            a(href='/manager/accounting')
                                i.icon-calendar
                                span.hidden-tablet  Kế toán
            // end: Main Menu
            noscript
                .alert.alert-block.span10
                    h4.alert-heading Warning!
                    p
                        | You need to have
                        a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
                        |  enabled to use this site.
            // start: Content
            #content.span10
                ul.breadcrumb
                    li
                        i.icon-home
                        a(href='/manager') Home
                        i.icon-angle-right
                    li
                        a(href='/manager/accounting') Kế Toán
                .row-fluid.sortable( )
                    .box.span12
                        .box-header(data-original-title='')
                            h2
                                i.halflings-icon.white.user
                                span.break
                                | Danh sách thực phẩm
                            .box-icon
                                a.btn-setting(href='#')
                                    i.halflings-icon.white.wrench
                                a.btn-minimize(href='#')
                                    i.halflings-icon.white.chevron-up
                                a.btn-close(href='#')
                                    i.halflings-icon.white.remove
                        .box-content
                            table.table.table-striped.table-bordered.bootstrap-datatable.datatable(datatable="ng")
                                p Chọn ngày
                                    input#control.btn.btn-primary(type="date",ng-model="list.date",ng-change="update()")
                                thead
                                    tr
                                        th Thực phẩm
                                        th Số lượng
                                        th Đơn giá
                                        th Thành tiền
                                        th Thao tác
                                tbody
                                    tr(ng-repeat="food in list.content")
                                        td.sorting_1 {{food.thuc_pham}}
                                        td.center {{food.so_luong}}
                                        td.center {{food.don_gia}}
                                        td.center {{food.so_luong*food.don_gia}}
                                        td.center
                                            //a.btn.btn-success(href='#')
                                            //    i.halflings-icon.white.zoom-in
                                            a.btn.btn-info(href='#')(ng-click="openEdit('lg',food)")
                                                i.halflings-icon.white.edit
                                            a.btn.btn-danger(ng-click="openDelete('lg',food)")
                                                i.halflings-icon.white.trash
                            table
                                tr
                                    td
                                        b(style="color:red;float:right; font-size:1.5em;") Tổng số tiền: {{sum}} vnđ
                    // /span
                script.
                    var app = angular.module('accounting', ['datatables', 'datatables.bootstrap', 'ui.bootstrap']);
                    app.controller('getList', function ($scope, $http, $modal) {
                        //get user list
                        $scope.list={
                            date: new Date()
                        };
                        $scope.update=function(){
                            if($scope.list.date==null) $scope.list.date=new Date();
                            $scope.listFood($scope.list.date);
                        }
                        $scope.listFood = function (date) {
                            $scope.sum=0;
                            var day=date.getDate();
                            var month=date.getMonth()+1;
                            var year=date.getFullYear();
                            $http.get('/manager/accounting/list?day='+day+'&month='+month+'&year='+year)
                                .success(function (data) {
                                    if (data.type == 'success') {
                                        var content = data.content;
                                        content.forEach(function(val){
                                            val.ngay=new Date(val.ngay);
                                            $scope.sum+=val.so_luong*val.don_gia;
                                        })
                                        $scope.list.content = content;
                                    }
                                    else {
                                    }
                                })
                                .error(function (data) {
                                    console.log(data);
                                })
                        };
                        $scope.add = function () {
                            $http.post('/manager/accounting/new', $scope.form)
                                    .success(function (data) {
                                        $scope.rp = data.content;
                                        $scope.listFood($scope.list.date);
                                    })
                                    .error(function (data) {
                                        console.log(data);
                                    })
                        }
                        //run
                        $scope.listFood($scope.list.date);
                        //response to screen
                        $scope.Response = function (size, content) {
                            var modalInstance = $modal.open({
                                templateUrl: 'response',
                                controller: 'Response',
                                size: size,
                                resolve: {
                                    content: function () {
                                        return content;
                                    }
                                }
                            });
                        };
                        $scope.reset = function () {
                            $scope.form = angular.copy({});
                        }
                        $scope.openEdit = function (size, data) {
                            var modalInstance = $modal.open({
                                templateUrl: 'edit',
                                controller: 'EditModalInstanceCtrl',
                                size: size,
                                resolve: {
                                items: function () {
                                        return data;
                                    }
                                }
                            });
                            modalInstance.result.then(function (data) {
                                $http.put('/manager/accounting/update', data)
                                    .success(function (response) {
                                        $scope.listFood($scope.list.date);
                                        $scope.Response('lg', response.content);
                                    }).error(function (response) {
                                        console.log(response);
                                    })
                                }, function () {
                                });
                        };
                        //delete user
                        $scope.openDelete = function (size, data) {
                            var modalInstance = $modal.open({
                                templateUrl: 'delete',
                                controller: 'DeleteModalInstanceCtrl',
                                size: size,
                                resolve: {
                                    ans: function () {
                                        return data;
                                    }
                                }
                            });
                            modalInstance.result.then(function (data) {
                            $http.delete('/manager/accounting/delete/' + data.id)
                                .success(function (response) {
                                    $scope.Response('lg', response.content);
                                    $scope.listFood($scope.list.date);
                                }).error(function (response) {
                                    console.log(response);
                                })
                                }, function () {
                                });
                            };
                        });
                    app.controller('DeleteModalInstanceCtrl', function ($scope, $modalInstance, ans) {
                        $scope.food = ans.thuc_pham;
                        $scope.ok = function () {
                        var data = ans;
                            $modalInstance.close(data);
                        };
                        $scope.cancel = function () {
                            $modalInstance.dismiss('cancel');
                        };
                    });
                    app.controller('Response', function ($scope, $modalInstance, content) {
                        $scope.content = content;
                        $scope.ok = function () {
                            $modalInstance.close();
                        };
                    });
                    //create new food
                    app.controller('EditModalInstanceCtrl', function ($scope, $modalInstance, items) {
                        $scope.form = items;
                        $scope.ok = function () {
                            $modalInstance.close($scope.form);
                        };
                        $scope.cancel = function () {
                            $modalInstance.dismiss('cancel');
                        };
                    });
                script(type='text/ng-template', id='delete').
                    <div class="modal-header">
                    <h3 class="modal-title">Thông báo</h3>
                    </div>
                    <div class="modal-body">
                    <h3>Bạn có chắc chắn xóa thực phẩm:<span style="color:red"> {{food}}</span>?</h3>
                    </div>
                    <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">Xóa</button>
                    <button class="btn btn-warning" ng-click="cancel()">Quay Lại</button>
                    </div>
                script(type='text/ng-template', id='response').
                    <div class="modal-header">
                    <h3 class="modal-title">Thông báo</h3>
                    </div>
                    <div class="modal-body">
                    <h3>{{content}}</h3>
                    </div>
                    <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                script(type='text/ng-template', id='edit').
                    <div class="modal-header">
                    <h3 class="modal-title">Chỉnh sửa thông tin</h3>
                    </div>
                    <div class="modal-body">
                    <form class="form-horizontal">
                    <fieldset>
                    <div class="control-group">
                    <label for="foodname" class="control-label">Thực phẩm</label>
                    <div class="controls">
                    <input id="foodname" type="text" placeholder="Thực phẩm..." ng-model="form.thuc_pham" class="input-xlarge focused"/>
                    </div>
                    </div>
                    <div class="control-group">
                    <label for="number" class="control-label">Số lượng</label>
                    <div class="controls">
                    <input id="number" type='number' min='1' placeholder="Số lượng..." ng-model="form.so_luong" class="input-xlarge"/>
                    </div>
                    </div>
                    <div class="control-group">
                    <label for="price" class="control-label">Đơn giá</label>
                    <div class="controls">
                    <input id="price" type='number' min='1' ng-model="form.don_gia" class="input-xlarge"/>
                    </div>
                    </div>
                    <div class="control-group">
                    <label for="date" class="control-label">Ngày</label>
                    <div class="controls">
                    <input id="date" type="date" ng-model="form.ngay" class="input-xlarge"/>
                    </div>
                    </div>
                    <div class="control-group">{{rp}}</div>
                    </fieldset>
                    </form>
                    </div>
                    <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">Xác Nhận</button>
                    <button class="btn btn-warning" ng-click="cancel()">Quay Lại</button>
                    </div>
                .row-fluid.sortable.ui-sortable()
                    .box.span12
                        .box-header(data-original-title='')
                            h2
                                i.halflings-icon.white.edit
                                span.break
                                | Thêm thực phẩm
                            .box-icon
                                a.btn-setting(href='#')
                                    i.halflings-icon.white.wrench
                                a.btn-minimize(href='#')
                                    i.halflings-icon.white.chevron-up
                                a.btn-close(href='#')
                                    i.halflings-icon.white.remove
                        .box-content
                            form.form-horizontal
                                fieldset
                                    .control-group
                                        label.control-label(for='foodname') Thực phẩm
                                        .controls
                                            input#foodname.input-xlarge.focused(type='text', placeholder="Thực phẩm...",ng-model="form.thuc_pham")
                                    .control-group
                                        label.control-label(for='number') Số lượng
                                        .controls
                                            input#number.input-xlarge(type='number',min='1',placeholder="Số lượng...",ng-model="form.so_luong")
                                    .control-group
                                        label.control-label(for='price') Đơn giá
                                        .controls
                                           input#price.input-xlarge(type='number',min='1',ng-model="form.don_gia")
                                    .control-group
                                        label.control-label(for='date') Ngày
                                        .controls
                                           input#date.input-xlarge(type='date',ng-model="form.ngay")
                                    .control-group
                                        | {{rp}}
                                    .form-actions
                                        button.btn.btn-primary(type='submit',ng-click="add()") Thêm
                                        button.btn(ng-click="reset()") Làm lại
                    // /span
        // /.fluid-container
          // end: Content
        // /#content.span10
    // /fluid-row
    #myModal.modal.hide.fade
        .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3 Settings
        .modal-body
            p Here settings can be configured...
        .modal-footer
            a.btn(href='#', data-dismiss='modal') Close
            a.btn.btn-primary(href='#') Save changes
    .clearfix
    footer
        p
            span(style='text-align:left;float:left')
                | © 2015
                a ABCKitChen Dashboard
                                                          