//
   Created by PHI on 5/24/2015.

extends layout
block content
   // start: Header
   .container-fluid-full
      .row-fluid
         // start: Main Menu
         #sidebar-left.span2
            .nav-collapse.sidebar-nav
               ul.nav.nav-tabs.nav-stacked.main-menu
                  li
                     a(href='/manager')
                        i.icon-dashboard
                        span.hidden-tablet  Dashboard
                  li
                     a(href='/manager/user')
                        i.icon-edit
                        span.hidden-tablet  Quản lí người dùng
                  li
                     a(href='/manager/menu')
                        i.icon-tasks
                        span.hidden-tablet  Quản lí thực đơn
                  li
                     a(href='/manager/track')
                        i.icon-eye-open
                        span.hidden-tablet  Theo dõi người dùng
                  li
                     a(href='/manager/statistic')
                        i.icon-bar-chart
                        span.hidden-tablet  Thống kê đăng ký ăn
                  li
                     a(href='/manager/calculate')
                        i.icon-shopping-cart
                        span.hidden-tablet  Tính phí
                  li
                     a(href='/manager/accounting')
                        i.icon-calendar
                        span.hidden-tablet  Kế toán
         // end: Main Menu
         noscript
            .alert.alert-block.span10
               h4.alert-heading Warning!
               p
                  | You need to have
                  a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
                  |  enabled to use this site.
         // start: Content
         #content.span10
            ul.breadcrumb
               li
                  i.icon-home
                  a(href='/manager') Home
                  i.icon-angle-right
               li
                  a(href='#') Tables
            .row-fluid.sortable(ng-app="calculate", ng-controller="getList")
               .box.span12
                  .box-header(data-original-title='')
                     h2
                        i.halflings-icon.white.user
                        span.break
                        | Chi phí
                     .box-icon
                        a.btn-setting(href='#')
                           i.halflings-icon.white.wrench
                        a.btn-minimize(href='#')
                           i.halflings-icon.white.chevron-up
                        a.btn-close(href='#')
                           i.halflings-icon.white.remove
                  .box-content
                     table.table.table-striped.table-bordered.bootstrap-datatable.datatable(datatable="ng")
                        p Chọn tháng
                           input.btn.btn-primary(type="date",ng-model="list.date",ng-change="get()")
                        thead
                           tr
                              th Mã tài khoản
                              th Tài khoản
                              th Họ tên
                              th Ngày sinh
                              th Chi phí
                              th Đóng phí tháng này
                        tbody
                           tr(ng-repeat="user in list.content")
                              td.center {{user.id}}
                              td.sorting_1 {{user.username}}
                              td.center {{user.fullname}}
                              td.center {{user.birthdate_show}}
                              td.center {{user.amount}}
                              td.center
                                 input(type="checkbox", class="special",ng-model="user.paid", style="opacity:1; background-image: none;")
                     input.btn.btn-primary(type="submit", value="Đồng bộ", ng-click="sync()")
            script.
               var app = angular.module('calculate', ['datatables', 'datatables.bootstrap', 'ui.bootstrap']);
               app.controller('getList', function ($scope, $http, $modal) {
                  //get user list
                  $scope.list={
                     date: new Date()
                  };
                  var date=new Date();
                  var month= date.getMonth()+1;
                  var year=date.getFullYear();
                  $scope.listUser = function (month,year) {
                     $http.get('/manager/calculate/list?month='+month+'&year='+year)
                          .success(function (data) {
                             if (data.type == 'success') {
                                data.content.forEach(function (val) {
                                   var now = new Date(val.birthdate);
                                   val.birthdate = now;
                                   val.birthdate_show = now.toLocaleDateString();
                                   if(val.paid){
                                      val.paid=false;
                                   }else{
                                      val.paid=true;
                                   }
                                })
                                $scope.list.content = data.content;
                             }
                             else {
                             }
                          })
                          .error(function (data) {
                             console.log(data);
                          })
                  };
                  $scope.listUser(month,year);
                  $scope.get=function(){
                     if($scope.list.date==null) $scope.list.date=new Date();
                     var month=$scope.list.date.getMonth()+1;
                     var year=$scope.list.date.getFullYear();
                     $scope.listUser(month,year);
                  }
                  $scope.sync=function(){
                     $http.post('/manager/calculate/sync',$scope.list)
                     .success(function(data){
                        alert(data.content);
                     })
                     .error(function(data){
                        console.log(data);
                     });
                  }
                  //run
               });

               // /span
               // /span
         // /.fluid-container
         // end: Content
      // /#content.span10
   // /fluid-row
   #myModal.modal.hide.fade
      .modal-header
         button.close(type='button', data-dismiss='modal') ×
         h3 Settings
      .modal-body
         p Here settings can be configured...
      .modal-footer
         a.btn(href='#', data-dismiss='modal') Close
         a.btn.btn-primary(href='#') Save changes
   #common-Modal1.common-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
         ul.list-inline.item-details
            li
               a(href='http://themifycloud.com') Admin templates
            li
               a(href='http://themescloud.org') Bootstrap themes
   .clearfix
   footer
      p
         span(style='text-align:left;float:left')
            | © 2015
            a ABCKitChen Dashboard