//
   Created by PHI on 5/24/2015.
doctype html
html(lang='en')
   head
      // start: Meta
      meta(charset='utf-8')
      title Admin ABC Kitchen
      meta(name='description', content='Bootstrap Metro Dashboard')
      meta(name='author', content='Dennis Ji')
      meta(name='keyword', content='Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
      // end: Meta
      // start: Mobile Specific
      meta(name='viewport', content='width=device-width, initial-scale=1')
      // end: Mobile Specific
      // start: CSS
      link#bootstrap-style(href='/css/bootstrap.min.css', rel='stylesheet')
      link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
      link#base-style(href='/css/style_admin.css', rel='stylesheet')
      link(href="/libs/fullcalendar/dist/fullcalendar.css", rel="stylesheet")
      link#base-style-responsive(href='/css/style-responsive.css', rel='stylesheet')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext', rel='stylesheet', type='text/css')
      link(href='/libs/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.css')
      // end: CSS
      // The HTML5 shim, for IE6-8 support of HTML5 elements
      //if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
        link#ie-style(href='/css/ie.css', rel='stylesheet')
      //if IE 9
        link#ie9style(href='/css/ie9.css', rel='stylesheet')
      // start: Favicon
      link(rel='shortcut icon', href='/img/favicon.ico')
      // end: Favicon
      // start: JavaScript
      srcipt(src="/libs/fullcalendar/dist/lang-all.js")
      script(src='/js/jquery-1.9.1.min.js')
      script(src="/libs/moment/moment.js")
      script(src='/js/jquery-migrate-1.0.0.min.js')
      script(src='/js/jquery-ui-1.10.0.custom.min.js')
      script(src='/js/jquery.ui.touch-punch.js')
      script(src='/js/modernizr.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/jquery.cookie.js')
      script(src='/libs/fullcalendar/dist/fullcalendar.js')
      script(src='/js/jquery.dataTables.min.js')
      script(src='/js/excanvas.js')
      script(src='/js/jquery.flot.js')
      script(src='/js/jquery.flot.pie.js')
      script(src='/js/jquery.flot.stack.js')
      script(src='/js/jquery.flot.resize.min.js')
      script(src='/js/jquery.chosen.min.js')
      script(src='/js/jquery.uniform.min.js')
      script(src='/js/jquery.cleditor.min.js')
      script(src='/js/jquery.noty.js')
      script(src='/js/jquery.elfinder.min.js')
      script(src='/js/jquery.raty.min.js')
      script(src='/js/jquery.iphone.toggle.js')
      script(src='/js/jquery.uploadify-3.1.min.js')
      script(src='/js/jquery.gritter.min.js')
      script(src='/js/jquery.imagesloaded.js')
      script(src='/js/jquery.masonry.min.js')
      script(src='/js/jquery.knob.modified.js')
      script(src='/js/jquery.sparkline.min.js')
      script(src='/js/counter.js')
      script(src='/js/retina.js')
      script(src='/js/custom.js')
      script(src='/libs/angular/angular.js')
      script(src="/libs/angular-bootstrap/ui-bootstrap.js")
      script(src="/libs/angular-bootstrap/ui-bootstrap-tpls.js")
      script(src='/libs/angular-resource/angular-resource.js')
      script(src="/libs/angular-datatables/dist/angular-datatables.min.js")
      script(src="/libs/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js")
      script(src="/libs/ngDraggable/ngDraggable.js")
      script(src="/libs/angular-ui-calendar/calendar.min.js")
      script(src="/libs/angular-ui-calendar/src/calendar.js")
      // end: JavaScript
   body
      // start: Header
      .navbar
         .navbar-inner
            .container-fluid
               a.btn.btn-navbar(data-toggle='collapse', data-target='.top-nav.nav-collapse,.sidebar-nav.nav-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
               a.brand(href='')
                  span ABCKitchen
               // start: Header Menu
               .nav-no-collapse.header-nav
                  ul.nav.pull-right
                     //li.dropdown.hidden-phone
                     //   a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                     //      i.icon-bell
                     //      span.badge.red
                     //         | 7
                     //   ul.dropdown-menu.notifications
                     //      li.dropdown-menu-title
                     //         span You have 11 notifications
                     //         a(href='#refresh')
                     //            i.icon-repeat
                     //      li
                     //         a(href='#')
                     //            span.icon.blue
                     //               i.icon-user
                     //            span.message New user registration
                     //            span.time 1 min
                     //      li
                     //         a(href='#')
                     //            span.icon.green
                     //               i.icon-comment-alt
                     //            span.message New comment
                     //            span.time 7 min
                     //      li
                     //         a(href='#')
                     //            span.icon.green
                     //               i.icon-comment-alt
                     //            span.message New comment
                     //            span.time yesterday
                     //      li
                     //         a(href='#')
                     //            span.icon.blue
                     //               i.icon-user
                     //            span.message New user registration
                     //            span.time yesterday
                     //      li.dropdown-menu-sub-footer
                     //         a View all notifications
                     // start: Notifications Dropdown
                     //li.dropdown.hidden-phone
                     //   a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                     //      i.icon-calendar
                     //      span.badge.red
                     //         | 5
                     //   ul.dropdown-menu.tasks
                     //      li.dropdown-menu-title
                     //         span You have 17 tasks in progress
                     //         a(href='#refresh')
                     //            i.icon-repeat
                     //      li
                     //         a(href='#')
                     //            span.header
                     //               span.title ARM Development
                     //               span.percent
                     //            .taskProgress.progressSlim.greenLight 63
                     //      li
                     //         a(href='#')
                     //            span.header
                     //               span.title ARM Development
                     //               span.percent
                     //            .taskProgress.progressSlim.orange 80
                     //      li
                     //         a.dropdown-menu-sub-footer View all tasks
                     //// end: Notifications Dropdown
                     //// start: Message Dropdown
                     //li.dropdown.hidden-phone
                     //   a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                     //      i.icon-envelope
                     //      span.badge.red
                     //         | 4
                     //   ul.dropdown-menu.messages
                     //      li.dropdown-menu-title
                     //         span You have 9 messages
                     //         a(href='#refresh')
                     //            i.icon-repeat
                     //      li
                     //         a(href='#')
                     //            span.avatar
                     //               img(src='img/avatar.jpg', alt='Avatar')
                     //            span.header
                     //               span.from
                     //                  | Dennis Ji
                     //               span.time
                     //                  | 6 min
                     //            span.message
                     //               | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                     //      li
                     //         a(href='#')
                     //            span.avatar
                     //               img(src='img/avatar.jpg', alt='Avatar')
                     //            span.header
                     //               span.from
                     //                  | Dennis Ji
                     //               span.time
                     //                  | 56 min
                     //            span.message
                     //               | Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                     //      li
                     //         a.dropdown-menu-sub-footer View all messages
                     // start: User Dropdown
                     li.dropdown
                        a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                           i.halflings-icon.white.user
                           |  #{admin}
                           span.caret
                        ul.dropdown-menu
                           li.dropdown-menu-title
                              span Account Settings
                           li
                              a(href='#')
                                 i.halflings-icon.user
                                 |  Profile
                           li
                              a(href='/logout')
                                 i.halflings-icon.off
                                 |  Logout
                     // end: User Dropdown
               // end: Header Menu
      // start: Header
      //.container-fluid-full
      //   .row-fluid
      //      // start: Main Menu
      //      #sidebar-left.span2
      //         .nav-collapse.sidebar-nav
      //            ul.nav.nav-tabs.nav-stacked.main-menu
      //               li
      //                  a(href='')
      //                     i.icon-dashboard
      //                     span.hidden-tablet  Dashboard
      //               li
      //                  a(href='/manager/user')
      //                     i.icon-edit
      //                     span.hidden-tablet  Qu?n lí ngý?i dùng
      //               li
      //                  a(href='/manager/menu')
      //                     i.icon-tasks
      //                     span.hidden-tablet  Qu?n lí th?c ðõn
      //               li
      //                  a(href='/manager/follow')
      //                     i.icon-eye-open
      //                     span.hidden-tablet  Theo d?i ngý?i dùng
      //               li
      //                  a(href='/manager/statistic')
      //                     i.icon-bar-chart
      //                     span.hidden-tablet  Th?ng kê ðãng k? ãn
      //               //li
      //               //   a(href='/manager/chart')
      //               //      i.icon-bar-chart
      //               //      span.hidden-tablet  Bi?u ð?
      //               li
      //                  a(href='manager/caculate')
      //                     i.icon-shopping-cart
      //                     span.hidden-tablet  Tính phí
      //               li
      //                  a(href='manager/accounting')
      //                     i.icon-calendar
      //                     span.hidden-tablet  K? toán
      //      // end: Main Menu
block content
