//
   Created by PHI on 5/18/2015.
.reservation
   .container
      .reservation-form
         .col-md-12.reservation-right
            form
               |{{rp}}
               h5 Tài khoản
               input(type='text', ng-model="form.username",placeholder='Tài khoản', required='')
               h5 Mật khẩu
               input(type='password',ng-model="form.password",placeholder="Mật khẩu", required='')
               button.btn1.btn-1.btn-1e(ng-click="login()") LOGIN