//
   Created by PHI on 5/18/2015.

// contact
.review
   .container
      .review-text
         h1 404
         p
            | Oooopps! Đã có lỗi
            br
            |  Không tìm thấy trang
            br
            | Chúng tôi rất xin lỗi vì sự cố này....
         a(href='index') Quay lại
// //contact