<!--
Created by PHI on 5/17/2015.
-->
<div class="container">
    <div id="container" class="clearfix">
        <div class="element clearfix col2-3 home about"><a data-title="Image Title" href="http://player.vimeo.com/video/48792900?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup">
            <div class="images">
                <div class="parent">
                    <div class="child">
                        <div class="icons video"></div>
                    </div>
                </div><img src="images/pic4.jpg" alt=""/>
            </div></a></div>
        <div class="element clearfix col2-3 white home auto hentry">
            <h2>Tin tức</h2>
            <p class="small">23 tháng 11, 2014 · by Admin<span class="alignright"><a href="#filter=.home%3Anot(.comment-button),+.contact">Để lại bình luận</a></span></p>
            <p>Chúng tôi hân hạnh nhận được sự góp ý từ quý khách đã dùng món tại cừa hàng chúng tôi. Chúng tôi sẽ hết lòng phục vụ quý khách hết lòng. Nếu có gì sai sót từ phía nhà hàng hay góp ý từ quý khách chúng tôi rất mong nhận được sự phản hồi từ quý khách hàng.</p>
        </div>
        <div class="element clearfix col1-3 triple white1 contact">
            <h2>Để lại một bình luận</h2>
            <div id="contact">
                <form id="contactform" method="post" action="http://ppp-templates.de/sh/contact.php" name="contactform" autocomplete="off">
                    <fieldset>
                        <label for="name" accesskey="U">Họ tên</label>
                        <input id="name" name="name" type="text" size="30" title="Họ tên *"/>
                        <label for="email" accesskey="E">Email</label>
                        <input id="email" name="email" type="text" size="30" title="Email *"/>
                        <label for="phone" accesskey="P">Số điện thoại</label>
                        <input id="phone" name="phone" type="text" size="30" title="Số điện thoại"/>
                        <label for="comments" accesskey="C">Nội dung</label>
                        <textarea id="comments" name="comments" cols="40" rows="3" title="Nội dung *"></textarea><span class="break"></span>
                        <p class="hide"> * Nội dung bắt buộc</p><span id="message"></span>
                        <input id="submit" type="submit" value="» Gửi đi" class="submit"/>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="element clearfix col1-3 white home auto">
            <h3 class="no-h2">Lê Nguyên</h3>
            <p class="small">11 tháng 11, 2014<span class="alignright"><a href="#">Trả lời</a></span></p>
            <p>Món ăn rất ngon. Cách phục vụ cũng rất tuyệt.</p>
            <div class="borderline"></div>
            <h3>Đinh Công Mạnh</h3>
            <p class="small">13 tháng 11, 2014<span class="alignright"><a href="#">Trả lời</a></span></p>
            <p>Tôi cũng thấy vậy. Tôi thích nhất là món sườn nướng của nhà hàng.</p>
        </div>
        <div class="element clearfix col1-3 white home auto">
            <h3 class="no-h2">Quật Văn Quét</h3>
            <p class="small">2 tháng 12, 2014<span class="alignright"><a href="#">Trả lời</a></span></p>
            <p>Những món ăn của nhà hàng rất tuyệt vời. Lần sau tôi chắc chắn sẽ đặt món ở cửa hàng.</p>
        </div>
    </div>
</div>
<!-- end container-->