@charset "utf-8";
/* Retina Ready Images */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
h1#logo a { background:url(../images/bg-logo@2x.png) no-repeat; background-size:279px 39px; }

.linkedin {background:url(../images/bg-linkedin@2x.png) center no-repeat; background-size:50px 50px; }
.dribbble {background:url(../images/bg-dribbble@2x.png) center no-repeat; background-size:50px 51px; }
.googleplus {background:url(../images/bg-googleplus@2x.png) center no-repeat; background-size:50px 50px; }
.twitter {background:url(../images/bg-twitter@2x.png) center no-repeat; background-size:50px 51px; } 
.facebook {background:url(../images/bg-facebook@2x.png) center no-repeat; background-size:50px 51px; }
.behance {background:url(../images/bg-behance@2x.png) center no-repeat; background-size:50px 50px; }
.skype {background:url(../images/bg-skype@2x.png) center no-repeat; background-size:50px 51px; }
.link {background:url(../images/bg-link@2x.png) center no-repeat; background-size:48px 48px; }
.video {background:url(../images/bg-video@2x.png) center no-repeat; background-size:48px 48px; }
.zoom {background:url(../images/bg-zoom@2x.png) center no-repeat; background-size:48px 48px; }
.quote {background:url(../images/bg-quote@2x.png) center no-repeat; background-size:48px 48px; }
.profile {background:url(../images/bg-profile@2x.png) center no-repeat; background-size:48px 48px; }
.tags {background:url(../images/bg-tags@2x.png) center no-repeat; background-size:48px 48px; }
.more {background:url(../images/bg-more@2x.png) center no-repeat; background-size:48px 48px; }
.detail {background:url(../images/bg-detail@2x.png) center no-repeat; background-size:48px 48px; }
.email {background:url(../images/bg-email@2x.png) center no-repeat; background-size:48px 48px; }

#backtotop ul li a { background:url(../images/bg-up@2x.png) center top no-repeat; background-size:48px 48px; }

.flex-direction-nav .flex-next {background:url(../images/bg-next@2x.png) center no-repeat; background-size:48px 48px; }
.flex-direction-nav .flex-prev {background:url(../images/bg-prev@2x.png) center no-repeat; background-size:48px 48px; }

.fancybox-close {background: url(../images/bg-close@2x.png) center no-repeat; background-size:48px 48px;}
.fancybox-prev span {background: url(../images/bg-prev@2x.png) center no-repeat; background-size:48px 48px;}
.fancybox-next span {background: url(../images/bg-next@2x.png) center no-repeat; background-size:48px 48px;}
}


@media only screen and (min-width: 1600px) {
/*.container { padding:0px; width:1600px; position:relative; margin:0 auto; }*/
}

@media only screen and (max-width: 1080px) {
#backtotop {display:none !important }
}

/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.container { padding:0px; width:640px; position:relative; }
.col1-1 {width:620px; }
#wrapper {width:640px; }

#nav-button {display:block; background:#f3f3ee; padding:30px; width:620px; margin:0 auto; cursor:pointer; position:relative; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.nav-bar {background-color:#2b2b2b; border-radius:1px; display:block; width:25px; height:3px; margin:3px auto; }
#options { display:none; width:620px; margin:0 auto; z-index:300; position:relative; top:0px;  }
#options ul {display:block; }
#options li {display:block; float:none }
#options li a { text-align:center; border-bottom:1px solid #2b2b2b; display:block; padding:15px; width:100%; float:none; margin:0 }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {
.container { padding:0px; width:320px; position:relative; }
.col2-3, .col1-1 { width:300px; height:auto; }
#map {width:300px; height:191px;}

#wrapper {width:320px; }

#nav-button {display:block; background:#f3f3ee; padding:30px; width:300px; margin:0 auto; cursor:pointer; position:relative; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.nav-bar {background-color:#2b2b2b; border-radius:1px; display:block; width:25px; height:3px; margin:3px auto; }
#options { display:none; width:300px; margin:0 auto; z-index:300; position:relative; top:0px;  }
#options ul {display:block; }
#options li {display:block; float:none }
#options li a { text-align:center; border-bottom:1px solid #2b2b2b; display:block; padding:15px; width:100%; float:none; margin:0 }
}