//
   Created by PHI on 5/18/2015.

extends ../layout
block content
      .contact
         .container
            .menu-title
               h3 Liên hệ
            .contact-form
               form
                  input(type='text', value='Họ tên', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Họ tên';}", required='')
                  .col-md-6.cnt-inpt
                     input(type='email', value='Email', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Email';}", required='')
                  .col-md-6.cnt-inpt
                     input(type='text', value='Số điện thoại', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Số điện thoại';}", required='')
                  .clearfix
                  textarea(type='text', onfocus="this.value = '' ;", onblur="if (this.value == '') {this.value = 'Lời nhắn...';}", required='')  Lời nhắn...
                  button.btn1.btn-1.btn-1e  Gửi đi
            .contact-grids
               .col-md-8.map
                  .title.cnt-title
                     h3 BẢN ĐỒ
                  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1861.8994242887622!2d105.7830445!3d21.040733099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab34c4d3aa2b%3A0x3a15fad5752bbd47!2zR2nhuqNuZyDEkcaw4budbmcgR8SQMiwgVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvLCBE4buLY2ggVuG7jW5nIEjhuq11LCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2sin!4v1432014361186', frameborder='0', style='border:0')
               .col-md-4.map.address
                  .title.cnt-title
                     h3 ĐỊA CHỈ
                  ul
                     li ABC KitChen
                     li Đối diện kí túc xá Ngoại Ngữ
                     li 136 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, HN
                     li Ph.no : +84 433xxx xxx
                     li
                        | Email :
                        a(href='mailto:admin@abckitchen.com')  admin@abckitchen.com
               .clearfix
      // //contact
      .footer
         .container
            .col-md-3.footer-left
               ul
                  li ABC KitChen
                  li Đối diện kí túc xá Ngoại Ngữ
                  li 136 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, Hà Nội ‎
                  li 04 xx xx xx xx
            .col-md-3.footer-left
               ul
                  li ABC KitChen 2
                  li Đối diện kí túc xá Ngoại Ngữ
                  li 136 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, Hà Nội ‎
                  li 04 xx xx xx xx
            .col-md-3.footer-left
               ul
                  li
                     a(href='#') Tin tức
                  li
                     a(href='#') Tuyển dụng
                  li
                     a(href='#') Quy định
                  li
                     a(href='contact') Liên hệ
            .col-md-3.footer-right
               a(href='index')
                  img(src='images/footer-logo.png', alt='logo')
               p
                  | © 2015 All rights reserved | Thiết kế bởi
                  a(href='http://failedteam.com/')  FailedTeam
            .clearfix
      // //footer
      // smooth-scrolling-of-move-up
      script(type='text/javascript').
         $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */
            $().UItoTop({easingType: 'easeOutQuart'});
         });
      a#toTop(href='#', style='display: block;')
         span#toTopHover(style='opacity: 1;')
      // //smooth-scrolling-of-move-up