//
   Created by PHI on 5/18/2015.

extends ../layout
block content
      // banner
      .banner
         .container
            .banner-text
               h1 Chúng tôi là ABCKitChen
               .bnr-text-info
                  h6 Vui mừng chào đón bạn
      // //banner
      // dishes
      .dishes1
         .container
            // banner-text Slider starts Here
            script(src='js/responsiveslides.min.js')
            script.
               // You can also use "$(window).load(function() {"
               $(function () {
                  // Slideshow 4
                  $("#slider3").responsiveSlides({
                     auto: true,
                     pager: true,
                     nav: false,
                     speed: 500,
                     namespace: "callbacks",
                     before: function () {
                        $('.events').append("<li>before event fired.</li>");
                     },
                     after: function () {
                        $('.events').append("<li>after event fired.</li>");
                     }
                  });
               });
            // //End-slider-script
            #top.callbacks_container
               .title
                  h3 Những món đặc trưng
               ul#slider3.rslides
                  li
                     .dishes
                        .col-md-3.dishes-grids
                           img(src='images/img2.jpg', alt='', title='')
                           .dishes-text
                              p Mỳ tôm
                              h4.rs 20000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img3.jpg', alt='', title='')
                           .dishes-text
                              p Mực xào ớt
                              h4.rs 80000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                                 li
                                    a.gry-str(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img4.jpg', alt='', title='')
                           .dishes-text
                              p Thịt nướng
                              h4.rs 60000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img5.jpg', alt='', title='')
                           .dishes-text
                              p Salad tươi
                              h4.rs 27000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                        .clearfix
                  li
                     .dishes
                        .col-md-3.dishes-grids
                           img(src='images/img28.jpg', alt='', title='')
                           .dishes-text
                              p Mì xào
                              h4.rs 60000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img29.jpg', alt='', title='')
                           .dishes-text
                              p Khoai tây chiên
                              h4.rs 24000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                                 li
                                    a.gry-str(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img30.jpg', alt='', title='')
                           .dishes-text
                              p Kem hoa quả
                              h4.rs 60000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img31.jpg', alt='', title='')
                           .dishes-text
                              p Thịt viên chiên
                              h4.rs 170000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                        .clearfix
                  li
                     .dishes
                        .col-md-3.dishes-grids
                           img(src='images/img32.jpg', alt='', title='')
                           .dishes-text
                              p Mỳ trộn
                              h4.rs 40000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img33.jpg', alt='', title='')
                           .dishes-text
                              p Thịt lợn xào cần tây
                              h4.rs 45000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img34.jpg', alt='', title='')
                           .dishes-text
                              p Salad hoa quả
                              h4.rs 40000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                                 li
                                    a.gry-str(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img35.jpg', alt='', title='')
                           .dishes-text
                              p Thịt kho tàu
                              h4.rs 53000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                        .clearfix
                  li
                     .dishes
                        .col-md-3.dishes-grids
                           img(src='images/img36.jpg', alt='', title='')
                           .dishes-text
                              p Bắp chiên giòn
                              h4.rs 30000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img37.jpg', alt='', title='')
                           .dishes-text
                              p Pho mát tươi
                              h4.rs 48000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                                 li
                                    a.gry-str(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img38.jpg', alt='', title='')
                           .dishes-text
                              p Trứng rán
                              h4.rs 20000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                        .col-md-3.dishes-grids
                           img(src='images/img39.jpg', alt='', title='')
                           .dishes-text
                              p Mực ống
                              h4.rs 117000
                              ul
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a(href='#')
                                 li
                                    a.gry-str(href='#')
                                 li
                                    a.gry-str(href='#')
                        .clearfix
      // //dishes
      // banner-bottom
      //.banner-bottom
      //   .container
      //      .menu-tag
      //         h4 Thực Đơn
      //      .load_more
      //         ul#myList
      //            li
      //               .l_g
      //                  .l_g_r
      //                     .col-md-6.menu-grids
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Voluptate cillum fugiat.
      //                              h6 Cheese, tomato, mushrooms, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $ 50
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Metus varius laoreet.
      //                              h6 Chicken, mozzarella cheese, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $62
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Donec sodales magna.
      //                              h6 Tuna, Sweetcorn, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $25
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Saugue velit cursus.
      //                              h6 Pineapple, Minced Beef, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $30
      //                           .clearfix
      //                     .col-md-6.menu-grids
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Arcu pede enim justo.
      //                              h6 Tuna, Sweetcorn, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $50
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Cras dapibussemper nisi.
      //                              h6 Pineapple, Minced Beef, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $62
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Quam semper libero.
      //                              h6 Cheese, tomato, mushrooms, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $25
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Nam eget dui Etiam.
      //                              h6 Chicken, mozzarella cheese, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $30
      //                           .clearfix
      //                     .clearfix
      //            li
      //               .l_g
      //                  .l_g_r.g_r
      //                     .col-md-6.menu-grids
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Voluptate cillum fugiat.
      //                              h6 Cheese, tomato, mushrooms, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $50
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Metus varius laoreet.
      //                              h6 Chicken, mozzarella cheese, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $62
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Donec sodales magna.
      //                              h6 Tuna, Sweetcorn, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $25
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Saugue velit cursus.
      //                              h6 Pineapple, Minced Beef, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $30
      //                           .clearfix
      //                     .col-md-6.menu-grids
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Arcu pede enim justo.
      //                              h6 Tuna, Sweetcorn, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $50
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Cras dapibussemper nisi.
      //                              h6 Pineapple, Minced Beef, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $62
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Quam semper libero.
      //                              h6 Cheese, tomato, mushrooms, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $25
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Nam eget dui Etiam.
      //                              h6 Chicken, mozzarella cheese, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $30
      //                           .clearfix
      //                     .clearfix
      //            li
      //               .l_g
      //                  .l_g_r.g_r
      //                     .col-md-6.menu-grids
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Voluptate cillum fugiat.
      //                              h6 Cheese, tomato, mushrooms, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $50
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Metus varius laoreet.
      //                              h6 Chicken, mozzarella cheese, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $62
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Donec sodales magna.
      //                              h6 Tuna, Sweetcorn, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $25
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Saugue velit cursus.
      //                              h6 Pineapple, Minced Beef, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $30
      //                           .clearfix
      //                     .col-md-6.menu-grids
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Arcu pede enim justo.
      //                              h6 Tuna, Sweetcorn, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $50
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Cras dapibussemper nisi.
      //                              h6 Pineapple, Minced Beef, Cheese.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $62
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Quam semper libero.
      //                              h6 Cheese, tomato, mushrooms, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $25
      //                           .clearfix
      //                        .menu-text
      //                           .menu-text-left
      //                              h4 Nam eget dui Etiam.
      //                              h6 Chicken, mozzarella cheese, onions.
      //                           .menu-text-midle
      //                              span.line
      //                           .menu-text-right
      //                              h4 $30
      //                           .clearfix
      //                     .clearfix
      //         #loadMore Tải thêm
      //         #showLess Thu gọn
      // //banner-bottom
      // gallery
      .gallery
         .container
            .title
               h3 Hình ảnh
            .gallery-grids
               .gallery-grids-left.glry-img.glry-first
                  a.mask.b-link-stripe.b-animate-go.swipebox(href='images/img6.jpg', title='Image Title')
                     img.img-responsive.zoom-img(src='images/img6.jpg', alt='')
               .gallery-grids-left
                  .glry-img
                     a.swipebox(href='images/img7.jpg', title='Image Title')
                        img.img-responsive.zoom-img(src='images/img7.jpg', alt='')
                  .glry-img
                     a.swipebox(href='images/img8.jpg', title='Image Title')
                        img.img-responsive.zoom-img(src='images/img8.jpg', alt='')
               .gallery-grids-left
                  .glry-img
                     a.swipebox(href='images/img9.jpg', title='Image Title')
                        img.img-responsive.zoom-img(src='images/img9.jpg', alt='')
                  .glry-img
                     a.swipebox(href='images/img10.jpg', title='Image Title')
                        img.img-responsive.zoom-img(src='images/img10.jpg', alt='')
               .clearfix
               // swipebox
               link(rel='stylesheet', href='css/swipebox.css')
               script(src='js/jquery.swipebox.min.js')
               script(type='text/javascript').
                  jQuery(function ($) {
                     $(".swipebox").swipebox();
                  });
               // //swipebox Ends
               script.
                  $(document).ready(function () {
                     size_li = $("#myList li").size();
                     x = 1;
                     $('#myList li:lt(' + x + ')').show();
                     $('#loadMore').click(function () {
                        x = (x + 1 <= size_li) ? x + 1 : size_li;
                        $('#myList li:lt(' + x + ')').show();
                     });
                     $('#showLess').click(function () {
                        x = (x - 1 < 0) ? 1 : x - 1;
                        $('#myList li').not(':lt(' + x + ')').hide();
                     });
                  });
      // //gallery
      .footer
         .container
            .col-md-3.footer-left
               ul
                  li ABC KitChen
                  li Đối diện kí túc xá Ngoại Ngữ
                  li 136 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, Hà Nội ‎
                  li 04 xx xx xx xx
            .col-md-3.footer-left
               ul
                  li ABC KitChen 2
                  li Đối diện kí túc xá Ngoại Ngữ
                  li 136 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, Hà Nội ‎
                  li 04 xx xx xx xx
            .col-md-3.footer-left
               ul
                  li
                     a(href='#') Tin tức
                  li
                     a(href='#') Tuyển dụng
                  li
                     a(href='#') Quy định
                  li
                     a(href='contact') Liên hệ
            .col-md-3.footer-right
               a(href='index')
                  img(src='images/footer-logo.png', alt='logo')
               p
                  | © 2015 All rights reserved | Thiết kế bởi
                  a(href='http://failedteam.com/')  FailedTeam
            .clearfix
      // //footer
      // smooth-scrolling-of-move-up
      script(type='text/javascript').
         $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */
            $().UItoTop({easingType: 'easeOutQuart'});
         });
      a#toTop(href='#', style='display: block;')
         span#toTopHover(style='opacity: 1;')
      // //smooth-scrolling-of-move-up
