//
   Created by PHI on 5/18/2015.

extends ../layout
block content
      .menu-page
         .container
            .menu-title
               h3 Thực đơn chính
            .menu-page-grids
               .col-md-4.menu-grids-info
                  img(src='images/img12.jpg', alt='', title='')
                  h4
                     a(href='#') Nộm tôm hải sản.
                  p
                     | Gỏi hải sản tôm mực này có đủ màu sắc của rau củ và hải sản rất bắt mắt. Vị  chua chua, cay cay, ngọt ngọt hòa đều rất dễ ăn
                  .menu-rate
                     h5 74000
               .col-md-4.menu-grids-info
                  img(src='images/img13.jpg', alt='', title='')
                  h4
                     a(href='#') Thịt nướng hun khói.
                  p
                     | Thịt xông khói nướng nhưng không bị khô, có độ mềm và giữ nguyên hương vị tươi ngon.
                  .menu-rate
                     h5 50000
               .col-md-4.menu-grids-info
                  img(src='images/img14.jpg', alt='', title='')
                  h4
                     a(href='#') Salad rau quả
                  p
                     | Bổ sung nhiều khoáng chất và chất xơ cho cơ thể. Phù hợp với người ăn kiêng.
                  .menu-rate
                     h5 34000
               .clearfix
            .menu-page-grids
               .col-md-4.menu-grids-info
                  img(src='images/img15.jpg', alt='', title='')
                  h4
                     a(href='#') Đu đủ bọc thịt
                  p
                     | Lá đu đủ bọc thịt dai, cứng trong vài giờ, khi hâm thịt chóng nhừ. Vị ngọt và thơm hấp dẫn.
                  .menu-rate
                     h5 50000
               .col-md-4.menu-grids-info
                  img(src='images/img16.jpg', alt='', title='')
                  h4
                     a(href='#') Đùi gà rán giòn.
                  p
                     | Tẩm bột chiên giòn với lửa vừa phải giúp giữ hương vị thịt cũng như độ giòn của miếng đùi gà.
                  .menu-rate
                     h5 40000
               .col-md-4.menu-grids-info
                  img(src='images/img17.jpg', alt='', title='')
                  h4
                     a(href='#') Tôm nõn rau củ.
                  p
                     | Vị mát của rau, béo dai của tôm nõn … tất cả tạo nên một món ăn đặc sắc
                  .menu-rate
                     h5 45000
               .clearfix
            .menu-title.menu-ttl-spl
               h3 Những món đặc biệt
            .menu-page-grids
               .col-md-6.menu-spl
                  img(src='images/img18.jpg', alt='', title='')
                  h4
                     a(href='#') Thịt viên chiên.
                  p
                     | Mỗi viên thịt chiên vừa miệng, thấm đều gia vị khi được chấm kèm với tương ớt sẽ tạo nên món ăn ngon tuyệt, bạn sẽ thấy nó sẽ dễ ăn vô cùng, sẽ nhanh chóng hấp dẫn thị giác lẫn vị giác của bạn, sẽ làm bạn thích ngay bởi hương vị thơm ngon và cảm giác giòn tan thật đã miệng
                  .menu-rate.spl-rate
                     h5 75000
               .col-md-6.menu-spl
                  img(src='images/img19.jpg', alt='', title='')
                  h4
                     a(href='#') Thịt nướng tẩm mật ong.
                  p
                     | Những xiên thịt tươi và chín tới được tẩm mật ong làm dậy lên mùi hương thơm của mật ong và thịt nướng. Miếng thịt vừa ngọt vị mật ong vừa đậm đà vị thịt nướng sẽ chiếm lấy cảm tình của bạn.
                  .menu-rate.spl-rate
                     h5 60000
               .clearfix
      // footer
      .footer
         .container
            .col-md-3.footer-left
               ul
                  li ABC KitChen
                  li Đối diện kí túc xá Ngoại Ngữ
                  li 136 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, Hà Nội ‎
                  li 04 xx xx xx xx
            .col-md-3.footer-left
               ul
                  li ABC KitChen 2
                  li Đối diện kí túc xá Ngoại Ngữ
                  li 136 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, Hà Nội ‎
                  li 04 xx xx xx xx
            .col-md-3.footer-left
               ul
                  li
                     a(href='#') Tin tức
                  li
                     a(href='#') Tuyển dụng
                  li
                     a(href='#') Quy định
                  li
                     a(href='contact') Liên hệ
            .col-md-3.footer-right
               a(href='index')
                  img(src='images/footer-logo.png', alt='logo')
               p
                  | © 2015 All rights reserved | Thiết kế bởi
                  a(href='http://failedteam.com/')  FailedTeam
            .clearfix
      // //footer
      // smooth-scrolling-of-move-up
      script(type='text/javascript').
         $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */
            $().UItoTop({easingType: 'easeOutQuart'});
         });
      a#toTop(href='#', style='display: block;')
         span#toTopHover(style='opacity: 1;')
      // //smooth-scrolling-of-move-up