//
   Created by PHI on 5/17/2015.


.container
   #container.clearfix
      .element.clearfix.col2-3.home.about
         a.video-popup(data-title='Image Title', href='http://player.vimeo.com/video/48792900?title=0&byline=0&portrait=0&color=ffffff')
            .images
               .parent
                  .child
                     .icons.video
               img(src='images/pic4.jpg', alt='')
      .element.clearfix.col2-3.white.home.auto.hentry
         h2 Tin tức
         p.small
            | 23 tháng 11, 2014 · by Admin
            span.alignright
               a(href='#filter=.home%3Anot(.comment-button),+.contact') Để lại bình luận
         p
            | Chúng tôi hân hạnh nhận được sự góp ý từ quý khách đã dùng món tại cừa hàng chúng tôi. Chúng tôi sẽ hết lòng phục vụ quý khách hết lòng. Nếu có gì sai sót từ phía nhà hàng hay góp ý từ quý khách chúng tôi rất mong nhận được sự phản hồi từ quý khách hàng.
      .element.clearfix.col1-3.triple.white1.contact
         h2 Để lại một bình luận
         #contact
            form#contactform(method='post', action='http://ppp-templates.de/sh/contact.php', name='contactform', autocomplete='off')
               fieldset
                  label(for='name', accesskey='U') Họ tên
                  input#name(name='name', type='text', size='30', title='Họ tên *')
                  label(for='email', accesskey='E') Email
                  input#email(name='email', type='text', size='30', title='Email *')
                  label(for='phone', accesskey='P') Số điện thoại
                  input#phone(name='phone', type='text', size='30', title='Số điện thoại')
                  label(for='comments', accesskey='C') Nội dung
                  textarea#comments(name='comments', cols='40', rows='3', title='Nội dung *')
                  span.break
                  p.hide  * Nội dung bắt buộc
                  span#message
                  input#submit.submit(type='submit', value='» Gửi đi')
      .element.clearfix.col1-3.white.home.auto
         h3.no-h2 Lê Nguyên
         p.small
            | 11 tháng 11, 2014
            span.alignright
               a(href='#') Trả lời
         p Món ăn rất ngon. Cách phục vụ cũng rất tuyệt.
         .borderline
         h3 Đinh Công Mạnh
         p.small
            | 13 tháng 11, 2014
            span.alignright
               a(href='#') Trả lời
         p Tôi cũng thấy vậy. Tôi thích nhất là món sườn nướng của nhà hàng.
      .element.clearfix.col1-3.white.home.auto
         h3.no-h2 Quật Văn Quét
         p.small
            | 2 tháng 12, 2014
            span.alignright
               a(href='#') Trả lời
         p
            | Những món ăn của nhà hàng rất tuyệt vời. Lần sau tôi chắc chắn sẽ đặt món ở cửa hàng.
// end container