//
   Created by PHI on 5/19/2015.
.reservation
   .container
      .reservation-form
         .col-md-12.reservation-right
            form
               h5 Tài kho?n
               input(type='text', placeholder='Tài kho?n', required='')
               h5 M?t kh?u
               input(type='password',placeholder="M?t kh?u", required='')
               button.btn1.btn-1.btn-1e LOGIN