//
   Created by PHI on 5/17/2015.

.container
   #container.clearfix
      .element.clearfix.col1-3.white.home.blog.auto
         h2
            a(href='post', data-title='') Cảm ơn phản hồi khách hàng
         p.small
            | 1 tháng 3, 2014
            span.alignright
               a(href='post', data-title='') Đọc thêm
         p
            | ABC Kitchen xin cảm ơn sự đóng góp ý kiến của quý khách hàng. Chúng tôi sẽ cố gắng hoàn thiện hơn nữa để phục vụ quý khách hàng.
      .element.clearfix.col1-3.white.home.blog.auto
         h2
            a(href='post', data-title='') Lịch nghỉ tết
         p.small
            | 1 tháng 1, 2015
            span.alignright
               a(href='post', data-title='') Đọc thêm
         p
            | ABC Kitchen sẽ tiến hành lịch nghỉ tết từ 6h sáng ngày 16 tháng 1 đến 6h sáng ngày 22 tháng 1 dương lịch. Quý khách có thể đặt món và đến của hàng vào ngày thứ 5 22 tháng 1. Cảm ơn quý khách.
      .element.clearfix.col1-3.white.home.blog.auto
         h2
            a(href='post', data-title='') Thu thập ý kiến khách hàng
         p.small
            | 1 tháng 1, 2014
            span.alignright
               a(href='post', data-title='') Đọc thêm
         p
            | ABC Kitchen đi vào hoạt động chưa lâu. Trong thời gian mở cửa do còn chút bỡ ngỡ nên chưa phục vụ khách hàng chu đáo. Xin quý khách cho phản hồi về nhà hàng. Các phản hồi sẽ được đặt lên trang chủ của cửa hàng. Khách hàng đóng góp phản hồi cho nhà hàng sẽ có cơ hội nhận được phiếu giảm giá 20% cho một hóa đơn. Cảm ơn quý khách hàng.
// end container