//
   Created by PHI on 5/17/2015.

// contact
.contact
   .container
      .menu-title
         h3 CONTACT US
      .contact-form
         form
            input(type='text', value='Name', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Name';}", required='')
            .col-md-6.cnt-inpt
               input(type='email', value='Email', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Email';}", required='')
            .col-md-6.cnt-inpt
               input(type='text', value='Telephone', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Telephone';}", required='')
            .clearfix
            textarea(type='text', onfocus="this.value = '' ;", onblur="if (this.value == '') {this.value = 'Message...';}", required='')  Message...
            button.btn1.btn-1.btn-1e  Submit
      .contact-grids
         .col-md-8.map
            .title.cnt-title
               h3 MAP
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d442499.9748597113!2d78.17896591963692!3d29.949785389517302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3909470eb8ee57c9%3A0x4e449176a640f5f3!2sHaridwar%2C+Uttarakhand!5e0!3m2!1sen!2sin!4v1429794283019', frameborder='0', style='border:0')
         .col-md-4.map.address
            .title.cnt-title
               h3 ADDRESS
            ul
               li New York Restaurant
               li 3926 Anmoore Road
               li New York, NY 10014
               li Ph.no : +2 800 544 6035
               li Fax : +15 9900 544 7876
               li
                  | Email :
                  a(href='mailto:example@mail.com') mail@example.com
         .clearfix
// //contact