//
   Created by PHI on 5/17/2015.
.container
   #container.clearfix
      .element.clearfix.col1-3.white1.home.browse
         h2 Những món chính
         p Điểm qua:
         p.small.option-set.clearfix(data-option-key='filter')
            a(href='#filter=.foods,+.browse')
               | Món ăn giàu dinh dưỡng
               span.arrow →
            br
            a(href='#filter=.deserts,+.browse')
               | Món ăn đặc biệt
               span.arrow →
            br
            a(href='#filter=.restaurant,+.browse')
               | Về cửa hàng
               span.arrow →
            br
            a(href='#filter=.all,+.browse')
               | Tất cả
               span.arrow →
      .element.clearfix.col1-3.half.home.gallery.all.deserts
         a.popup(href='images/pic5.jpg', data-title='Image Title', data-fancybox-group='group2')
            .images
               .parent
                  .child
                     .icons.zoom
               img(src='images/pic5.jpg', alt='')
      .element.clearfix.col1-3.home.gallery.all.foods
         a.popup(href='images/pic2.jpg', data-title='Image Title', data-fancybox-group='group1')
            .images
               .parent
                  .child
                     .icons.zoom
               img(src='images/pic2.jpg', alt='')
      .element.clearfix.col1-3.home.gallery.all.deserts
         a.popup(href='images/pic9.jpg', data-title='Image Title', data-fancybox-group='group2')
            .images
               .parent
                  .child
                     .icons.zoom
               img(src='images/pic9.jpg', alt='')
      .element.clearfix.col1-3.half.home.gallery.all.foods
         a(href='#', data-title='Image Title', onclick='return false')
            .images
               .parent
                  .child
                     .icons.link
               img(src='images/pic6.jpg', alt='')
      .element.clearfix.col2-3.home.gallery.all.restaurant
         a.popup(href='images/pic7.jpg', data-title='Image Title', data-fancybox-group='group3')
            .images
               .parent
                  .child
                     .icons.zoom
               img(src='images/pic7.jpg', alt='')
      .element.clearfix.col1-3.half.home.gallery.all.deserts
         a.popup(href='images/pic8.jpg', data-title='Image Title', data-fancybox-group='group2')
            .images
               .parent
                  .child
                     .icons.zoom
               img(src='images/pic8.jpg', alt='')
      .element.clearfix.col1-3.home.gallery.all.foods
         a.popup(href='images/pic3.jpg', data-title='Image Title', data-fancybox-group='group1')
            .images
               .parent
                  .child
                     .icons.zoom
               img(src='images/pic3.jpg', alt='')
// end container
