//
   Created by PHI on 5/16/2015.
.container
   #container.clearfix
      .element.clearfix.col2-3.home
         .flexslider
            .images
               ul.slides
                  li
                     img(src='images/pic1.jpg', alt='')
                  li
                     img(src='images/pic1b.jpg', alt='')
      .element.clearfix.col1-3.white1.home
         h2 ABC Kitchen
         p
            | Là nhà ăn có chất lượng và dịch vụ tốt nhất trong khuôn viên Đại Học Quốc Gia Hà Nội.
         p
            | Chúng tôi rất hân hạnh mang tới cho quý khách những món buffet ngon và hấp dẫn nhất cho bữa ăn của bạn.
         p.small.bottom
            a(href='#filter=.contact')
               | Đặt món
               span.arrow →
      .element.clearfix.col1-3.home.gallery.all.foods
         a.popup(href='images/pic2.jpg', data-title='Image Title', data-fancybox-group='group1')
            .images
               .parent
                  .child
                     .icons.zoom
               img(src='images/pic2.jpg', alt='')
      .element.clearfix.col1-3.half.home
         a(href='gallery', data-title='')
            .images
               .parent.text
                  .child
                     span Hình ảnh
               .dots
               .overlay
               img(src='images/gallery.jpg', alt='')
      .element.clearfix.col1-3.home.gallery.all.foods
         a.popup(href='images/pic3.jpg', data-title='Image Title', data-fancybox-group='group1')
            .images
               .parent
                  .child
                     .icons.zoom
               img(src='images/pic3.jpg', alt='')
      .element.clearfix.col1-3.white2.home.about
         h2 Thông tin
         p
            | ABC Kitchen có những đầu bếp chất lượng tốt. Mang tới những món ăn hòa quyện hương vị đặc trưng của Việt Nam.
         p  Đến với chúng tôi quý khách chắc chắn sẽ có một bữa ăn hoàn hảo và hấp dẫn.
         p.small.bottom
            a(href='#filter=.contact')
               | Thông tin liên hệ
               span.arrow →
      .element.clearfix.col1-3.half.home
         a(href='menu', data-title='')
            .images
               .parent.text
                  .child
                     span Thực đơn
               .dots
               .overlay
               img(src='images/menu.jpg', alt='')
      .element.clearfix.col1-3.half.home
         a(href='menu', data-title='')
            .images
               .parent.text
                  .child
                     span Món ăn đặc biệt
               .dots
               .overlay
               img(src='images/deserts.jpg', alt='')
      .element.clearfix.col1-3.half.white3.home
         span.quotation-mark “
         blockquote.no-h2
            | Món ăn rất tuyệt. Đó thực sự là một sự thưởng thức.
            span Nguyên / 02.2015
      .element.clearfix.col2-3.home.about
         a.video-popup(data-title='Image Title', href='http://player.vimeo.com/video/48792900?title=0&byline=0&portrait=0&color=ffffff')
            .images
               .parent
                  .child
                     .icons.video
               img(src='images/pic4.jpg', alt='')
      .element.clearfix.col1-3.half.home
         a(href='', data-title='')
            .images
               .parent.text
                  .child
                     span Đặt món
               .dots
               .overlay
               img(src='images/table.jpg', alt='')
// end container

