//
   Created by PHI on 5/17/2015.

.menu-page
   .container
      .menu-title
         h3 MAIN MENU
      .menu-page-grids
         .col-md-4.menu-grids-info
            img(src='images/img12.jpg', alt='', title='')
            h4
               a(href='#') Voluptate cillum fugiat.
            p
               | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus including versions of Lorem Ipsum.
            .menu-rate
               h5 $04
         .col-md-4.menu-grids-info
            img(src='images/img13.jpg', alt='', title='')
            h4
               a(href='#') Metus varius laoreet.
            p
               | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker of Lorem Ipsum.
            .menu-rate
               h5 $10
         .col-md-4.menu-grids-info
            img(src='images/img14.jpg', alt='', title='')
            h4
               a(href='#') Quam semper libero.
            p
               | Lorem Ipsum passages, and more recently with desktop software like Aldus PageMaker including of Lorem Ipsum.
            .menu-rate
               h5 $25
         .clearfix
      .menu-page-grids
         .col-md-4.menu-grids-info
            img(src='images/img15.jpg', alt='', title='')
            h4
               a(href='#') papaya velit cursus.
            p
               | Lorem Ipsum passages, and more recently with desktop publishing like Aldus PageMaker including versions of Lorem Ipsum.
            .menu-rate
               h5 $30
         .col-md-4.menu-grids-info
            img(src='images/img16.jpg', alt='', title='')
            h4
               a(href='#') Cras dapibussemper nisi.
            p
               | Lorem Ipsum passages, and more recently with desktop publishing software like PageMaker including versions of Lorem Ipsum.
            .menu-rate
               h5 $06
         .col-md-4.menu-grids-info
            img(src='images/img17.jpg', alt='', title='')
            h4
               a(href='#') cuisine salad laoreet.
            p
               | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including  of Lorem Ipsum.
            .menu-rate
               h5 $09
         .clearfix
      .menu-title.menu-ttl-spl
         h3 SUMMER SPECIALS
      .menu-page-grids
         .col-md-6.menu-spl
            img(src='images/img18.jpg', alt='', title='')
            h4
               a(href='#') papaya velit cursus.
            p
               | Lorem Ipsum passages, and more recently with desktop publishing like Aldus PageMaker including versions of Lorem Ipsum.
            .menu-rate.spl-rate
               h5 $50
         .col-md-6.menu-spl
            img(src='images/img19.jpg', alt='', title='')
            h4
               a(href='#') Cras dapibussemper nisi.
            p
               | Lorem Ipsum passages, and more recently with desktop publishing software like PageMaker including versions of Lorem Ipsum.
            .menu-rate.spl-rate
               h5 $30
         .clearfix