//
   Created by PHI on 5/17/2015.

.container
   #container.clearfix
      .element.clearfix.col1-3.white3.home.auto
         h2 Món khai vị
         h3
            | Nem cuộn thịt rán
            span.alignright 69k
         p Món ăn nhẹ đủ dinh dưỡng. Phù hợp để mở đầu bữa ăn.
         h3
            | Thịt hun khói
            span.alignright 110k
         p Thịt tươi vừa đủ. Thơm ngon giàu đạm.
         h3
            | Sò hấp
            span.alignright 120k
         p Bổ sung sắt và dưỡng chất từ hải sản.
         h3
            | Xúc xích nướng
            span.alignright 150k
         p Xúc xích tươi. Nướng chín tới. Vị đậm đà cho bữa ăn.
      .element.clearfix.col1-3.white2.home.auto
         h2 Món chính
         h3
            | Sườn nướng mật ong
            span.alignright 190k
         p Sườn nướng chín tự nhiên có hương vị thơm ngon của mật ong, đậm đà của thịt.
         h3
            | Tôm hùm nướng bơ tỏi
            span.alignright 210k
         p
            | Tôm hùm nướng bơ tỏi thơm có màu trắng, dai, vị ngọt đậm đà và thơm. Là món ăn giàu dinh dưỡng.
         h3
            | Bít tết
            span.alignright 220k
         p Thịt thơm và dai. Hương vị đậm đà hấp dẫn.
         h3
            | Đùi gà tây tẩm bột chiên
            span.alignright 250k
         p Đùi gà tây rất thơm và ngọt. Tẩm bột chiên giòn thêm hấp dẫn.
         h3
            | Vịt nướng hun khói
            span.alignright 390k
         p
            | Tất cả phần thăn và đùi vịt được đem tẩm mật ong và gia vị trước khi nướng. Hương vị thơm và đậm đà mà đầy đủ dinh dưỡng cho một bữa ăn chính.
      .element.clearfix.col1-3.half.home
         a(href='#', data-title='')
            .images
               .parent.text
                  .child
                     span Thẻ giảm giá 20%
               .dots
               .overlay
               img(src='images/coupon.jpg', alt='')
      .element.clearfix.col1-3.white.home.auto
         h2 Điểm tâm
         h3
            | Bánh kem xốp ba tầng
            span.alignright 27k
         p Điểm tâm ngọt.
         h3
            | Kem tươi
            span.alignright 38k
         p Mát và tươi ngon
// end container