//
   Created by PHI on 5/17/2015.

// news
.news
   .container
      .menu-title
         h3 Tin mới nhất
      .news-info
         .col-md-6.news-grids
            .news-grids-left
               img(src='images/img22.jpg', alt='', title='')
            .news-grids-right
               h5 10/05/2015
               h4
                  a(href='#') GRAVIDA BIBEN.
               p
                  | Gravinda is made up of paneer patties wrapped in a grilled tortilla and served with mustard, mayonnaise, lettuce, tomatoes, onions, and various herbs and spices.
            .clearfix
         .col-md-6.news-grids
            .news-grids-left
               img(src='images/img23.jpg', alt='', title='')
            .news-grids-right
               h5 10/05/2015
               h4
                  a(href='#') KOREA-FOOD CILLUM
               p
                  | In this paneer patties wrapped in a grilled tortilla and served with mustard, mayonnaise, lettuce, tomatoes, onions, and various herbs and spices.
            .clearfix
         .clearfix
      .news-info
         .col-md-6.news-grids
            .news-grids-left
               img(src='images/img24.jpg', alt='', title='')
            .news-grids-right
               h5 10/05/2015
               h4
                  a(href='#') SOLUTA NOBIS DER
               p
                  | In this paneer patties wrapped in a grilled tortilla and served with mustard, mayonnaise, lettuce, tomatoes, onions, and various herbs and spices.
            .clearfix
         .col-md-6.news-grids
            .news-grids-left
               img(src='images/img25.jpg', alt='', title='')
            .news-grids-right
               h5 10/05/2015
               h4
                  a(href='#') BARBECUE STEAK
               p
                  | In this paneer patties wrapped in a grilled tortilla and served with mustard, mayonnaise, lettuce, tomatoes, onions, and various herbs and spices.
            .clearfix
         .clearfix
      .news-info
         .col-md-6.news-grids
            .news-grids-left
               img(src='images/img26.jpg', alt='', title='')
            .news-grids-right
               h5 10/05/2015
               h4
                  a(href='#') MELTON MOWBRAY PIE
               p
                  | In this paneer patties wrapped in a grilled tortilla and served with mustard, mayonnaise, lettuce, tomatoes, onions, and various herbs and spices.
            .clearfix
         .col-md-6.news-grids
            .news-grids-left
               img(src='images/img27.jpg', alt='', title='')
            .news-grids-right
               h5 10/05/2015
               h4
                  a(href='#') CUMBERLAND SAUSAGE
               p
                  | In this paneer patties wrapped in a grilled tortilla and served with mustard, mayonnaise, lettuce, tomatoes, onions, and various herbs and spices.
            .clearfix
         .clearfix
.news-bottom
   .container
      .col-md-6.news-bottom-left
         .title.cnt-title
            h3 OUR SPECIALS
         ul
            li
               a(href='singlepage') Donec ut igula feugiat scelerisque.
            li
               a(href='singlepage') Etiam volutpat tortor nibh lobortis
            li
               a(href='singlepage') Fusce vitae dolor vitae blandit varius.
            li
               a(href='singlepage') Proin commodo metus sed nisi lobortis.
            li
               a(href='singlepage') Nunc volutpat nequeugue interdum,
            li
               a(href='singlepage') condimentum fringilla justo lobortis.
            li
               a(href='singlepage') Vivamus consequat dolor  congue.
      .col-md-6.news-bottom-right
         .title.cnt-title
            h3 NEWS ACHIVES
         ul
            li
               a(href='singlepage') October, 2014
            li
               a(href='singlepage') November, 2014
            li
               a(href='singlepage') january, 2015
            li
               a(href='singlepage') February, 2015
            li
               a(href='singlepage') March, 2015
            li
               a(href='singlepage') April, 2015
      .clearfix
// //news