//
   Created by PHI on 5/18/2015.

// reservation
.reservation
   .container
      .menu-title.reserve-title
         h3 Đặt hàng
      p.rsvp
         | Lorem Ipsum is simply dummy text of the printing and typesetting industry,it has been the industry's standard dummy text ith desktop publishing software like Aldus PageMaker.
      .reservation-form
         .col-md-4.reservation-left
            h4 Menu
            ul
               li
                  a(href='menu') Salads
               li
                  a(href='menu') Không có rau
               li
                  a(href='menu') Món đặc biệt
               li
                  a(href='menu') Món chính
            h4 Featured Menu Items
            .reservation-grids
               .rsvn-grids-left
                  img(src='images/img24.jpg', alt='', title='')
               .rsvn-grids-right
                  h5
                     a(href='news') Soluta nobis der
                  p  In this paneer patties wrapped and served with mustard.
               .clearfix
            .reservation-grids
               .rsvn-grids-left
                  img(src='images/img25.jpg', alt='', title='')
               .rsvn-grids-right
                  h5
                     a(href='news') Soluta nobis der
                  p  In this paneer patties wrapped and served with mustard.
               .clearfix
            .reservation-grids
               .rsvn-grids-left
                  img(src='images/img26.jpg', alt='', title='')
               .rsvn-grids-right
                  h5
                     a(href='news') Soluta nobis der
                  p  In this paneer patties wrapped and served with mustard.
               .clearfix
         .col-md-8.reservation-right
            form
               h5 Dành cho bao nhiêu người?
               .dropdown-button
                  select.dropdown(tabindex='10', data-settings='{"wrapperClass":"flat"}')
                     option(value='1') 01 người
                     option(value='2') 02 người
                     option(value='3') 03 người
                     option(value='4') 04 người
                     option(value='5') 05 người
                     option(value='6') 06 người
                     option(value='7') 07 người
                     option(value='8') 08 người
                     option(value='9') 09 người
                     option(value='9') 10 người
                     option(value='9') trên 10 người
               h5 Khi nào bạn muốn nhận hàng?
               input#datepicker.date(type='text', value='Select Date', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Chọn ngày';}")
               lable Thời gian :
               input(type='time', value='Time', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Thời gian';}", required='')
               h5 Thông tin liên hệ & Yêu cầu riêng
               input(type='text', value='Họ tên', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Họ tên';}", required='')
               input(type='email', value='Email', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Email';}", required='')
               input(type='text', value='Số điện thoại', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Số điện thoại';}", required='')
               textarea(type='text', onfocus="this.value = '' ;", onblur="if (this.value == '') {this.value = 'Yêu cầu riêng...';}", required='')  Yêu cầu riêng...
               button.btn1.btn-1.btn-1e ĐẶT HÀNG
            // -strat-date-piker--
            link(rel='stylesheet', href='css/jquery-ui.css')
            script(src='js/jquery-ui.js')
            script.
               $(function() {
                  $( "#datepicker,#datepicker1" ).datepicker();
               });
            // -/End-date-piker--
         .clearfix
// //reservation